
<!-- 
	Creates a data table with all cryptocurrencies.
	Uses recieved ViewBag to dynamically display table data for cryptocurrencies.
	Adds navigation buttons to each available chart view.
-->

<table class="table rounded rounded-5 overflow-hidden table-dark">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Cryptocurrency</th>
			<th scope="col">Converted to</th>
			<th scope="col">Price per unit</th>
			<th scope="col">Daily change</th>
			<th scope="col">Weekly change</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>@ViewBag.MarketData[0].CryptoSymbol</td>
			<td>@ViewBag.MarketData[0].FiatSymbol</td>
			<td>@ViewBag.MarketData[0].UnitValue</td>
			<td>@ViewBag.MarketData[0].Change24h%</td>
			<td>@ViewBag.MarketData[0].Change7d%</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>@ViewBag.MarketData[1].CryptoSymbol</td>
			<td>@ViewBag.MarketData[1].FiatSymbol</td>
			<td>@ViewBag.MarketData[1].UnitValue</td>
			<td>@ViewBag.MarketData[1].Change24h%</td>
			<td>@ViewBag.MarketData[1].Change7d%</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>@ViewBag.MarketData[2].CryptoSymbol</td>
			<td>@ViewBag.MarketData[2].FiatSymbol</td>
			<td>@ViewBag.MarketData[2].UnitValue</td>
			<td>@ViewBag.MarketData[2].Change24h%</td>
			<td>@ViewBag.MarketData[2].Change7d%</td>
		</tr>
		<tr>
			<th scope="row">4</th>
			<td>@ViewBag.MarketData[3].CryptoSymbol</td>
			<td>@ViewBag.MarketData[3].FiatSymbol</td>
			<td>@ViewBag.MarketData[3].UnitValue</td>
			<td>@ViewBag.MarketData[3].Change24h%</td>
			<td>@ViewBag.MarketData[3].Change7d%</td>
		</tr>
		<tr>
			<th scope="row">5</th>
			<td>@ViewBag.MarketData[4].CryptoSymbol</td>
			<td>@ViewBag.MarketData[4].FiatSymbol</td>
			<td>@ViewBag.MarketData[4].UnitValue</td>
			<td>@ViewBag.MarketData[4].Change24h%</td>
			<td>@ViewBag.MarketData[4].Change7d%</td>
		</tr>
	</tbody>
</table>

<div class="row">
	<div id="chart-button" class="col">
		<a style="background-color: #7AB662" class="text-success" asp-controller="Market" asp-action="Bitcoin">BTC/EUR</a>
	</div>
	<div id="chart-button" class="col">
		<a style="background-color: #62A4B6" class="text-success" asp-controller="Market" asp-action="Etherium">ETH/EUR</a>
	</div>
	<div id="chart-button" class="col">
		<a style="background-color: #9E62B6" class="text-success" asp-controller="Market" asp-action="Cardano">ADA/EUR</a>
	</div>
	<div id="chart-button" class="col">
		<a style="background-color: #7462B6" class="text-success" asp-controller="Market" asp-action="Cosmos">ATOM/EUR</a>
	</div>
	<div id="chart-button" class="col">
		<a style="background-color: #B67462" class="text-success" asp-controller="Market" asp-action="Dogecoin">DOGE/EUR</a>
	</div>
</div>
