@using CryptoInvestmentSimulator.Models.ViewModels
@model List<MarketDataModel>;
@{
    ViewData["Title"] = "Market Page";
}

<div class="text-center">

    <h1 class="display-4">Try to request a response!</h1>

    <table class="table table-hover table-dark border-warning">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cryptocurrency</th>
                <th scope="col">Converted to</th>
                <th scope="col">Collection time</th>
                <th scope="col">Price per unit</th>
                <th scope="col">Daily change</th>
                <th scope="col">Weekly change</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>@Model[0].CryptoSymbol</td>
                <td>@Model[0].FiatSymbol</td>
                <td>@Model[0].CollectionDateTime</td>
                <td>@Model[0].FiatPricePerUnit</td>
                <td>@Model[0].PercentChange24h</td>
                <td>@Model[0].PercentChange7d</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>@Model[1].CryptoSymbol</td>
                <td>@Model[1].FiatSymbol</td>
                <td>@Model[1].CollectionDateTime</td>
                <td>@Model[1].FiatPricePerUnit</td>
                <td>@Model[1].PercentChange24h</td>
                <td>@Model[1].PercentChange7d</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>@Model[2].CryptoSymbol</td>
                <td>@Model[2].FiatSymbol</td>
                <td>@Model[2].CollectionDateTime</td>
                <td>@Model[2].FiatPricePerUnit</td>
                <td>@Model[2].PercentChange24h</td>
                <td>@Model[2].PercentChange7d</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>@Model[3].CryptoSymbol</td>
                <td>@Model[3].FiatSymbol</td>
                <td>@Model[3].CollectionDateTime</td>
                <td>@Model[3].FiatPricePerUnit</td>
                <td>@Model[3].PercentChange24h</td>
                <td>@Model[3].PercentChange7d</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>@Model[4].CryptoSymbol</td>
                <td>@Model[4].FiatSymbol</td>
                <td>@Model[4].CollectionDateTime</td>
                <td>@Model[4].FiatPricePerUnit</td>
                <td>@Model[4].PercentChange24h</td>
                <td>@Model[4].PercentChange7d</td>
            </tr>
        </tbody>

    </table>

    <a class="text-danger" asp-controller="Market" asp-action="Index">Refresh</a>
</div>
